doctype html
html
  head
    title= title
    meta(charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="dist/css/bootstrap.css")
    link(rel="stylesheet" href="css/completed.css")
    link(rel="stylesheet" href="css/nav-bar.css")
    script(src="dist/css/bootstrap.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="js/nav-bar.js" defer="true")
  body(style="height: 100vh;")
    main
      div.d-flex.flex-row
        div(style="height: 100vh;")#navigation.bg-dark
          include nav-bar.pug
        div.flex-grow-1.bg-light
          div.card.p-3(style="background-color: rgb(241, 235, 235); font-family: Georgia, 'Times New Roman', Times, serif")
            h2.text-center(style="padding: 10px;") Completed Appointments
          div#filter.card.m-3.p-3
            h3.m-0.d-flex.justify-content-between
              span Filter Appointments
              span(style="transform: rotate(-90deg)") &#10094;
          div#recordTable.card.m-3.p-3
            p.m-0.text-center 
              | Showing 
              span 1 of 1 
              | Records
            div.d-flex.justify-content-end.mt-3
              button.btn.btn-primary Retrieve Appointments

        

