nav.bg-dark.d-flex.flex-column
  p#transportationTab.text-white.m-0.d-flex.flex-row.justify-content-between.p-3
    span &#9868; TRANSPORTATION
    span &#10096;
  div#transportationContainer.d-flex.flex-column.overflow-hidden
    a(href="/").text-white.p-3 Dashboard
    a(href="/request-ride").text-white.pb-3.px-3 Request A Ride
    a(href="/scheduled").text-white.pb-3.px-3 Scheduled Appointments
    a(href="/active-rides").text-white.pb-3.px-3 Active Rides
    a(href="#").text-white.pb-3.px-3 Logs
  p#userManagementTab.text-white.m-0.d-flex.flex-row.justify-content-between.p-3 
    span &#9998; USER MANAGEMENT
    span &#10096;
  div#userManagementContainer.d-flex.flex-column.overflow-hidden
    a(href="#").text-white.p-3 User Settings
    a(href="#").text-white.pb-3.px-3 Log Out