body,
html {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* 

.active-rides-page-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.8fr 2.9fr 1fr 1fr 1fr 1fr 1fr 1.7fr;
    grid-template-rows: auto;
    grid-gap: 0px 0px;
}

.active-rides-page-header {
    display: grid;
    grid-column: 2 / 10;
    background-color: rgb(209, 209, 212);
    text-align: right;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.active-rides-page-logout {
    display: grid;
    background-color: rgb(209, 209, 212);
    text-align: left;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.active-rides-page-nav-bar {
    display: grid;
    grid-row: 1 / 100;
}

.active-rides-dashboard {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    padding: 30px;
    background-color: white;
    text-align: left;
}

.active-rides-page-filter-rides {
    display: grid;
    grid-column: 2;
    grid-row: 3;
    padding: 30px;
    background-color: white;
    text-align: left;
}

.active-rides-table-table {
    display: table;
    grid-column: 3/11;
    grid-row: 2/25;
    height: 72vh;
}

.active-rides-page-request-a-ride {
    display: grid;
    grid-column: 2;
    font-size: 30px;
    grid-row: 5 /8;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.empty-cell {
    display: grid;
    grid-column: 2;
    grid-row: 8;
    background-color: white;
    text-align: center;
    color: white;
    padding: 15px;
    padding-bottom: 15px;
}

.active-rides-page-pending-return-request {
    display: grid;
    grid-column: 3/4;
    font-size: 14px;
    grid-row: 8;
    place-items: center start;
    padding-left: 15px;
    background-color: rgb(12, 34, 160);
    text-align: left;
}

.active-rides-page-footer {
    display: grid;
    grid-column: 6/11;
    grid-row: 20;
    padding-top: 25px;
} */