#titleContainer{
  background-color: rgb(241, 235, 235);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#titleContainer > h2{
  padding: 10px
}
#map{
  background-position: center; 
  height: 400px;
}
